<div class="container mb-3">
  <h4 class="mb-5">הסטוריית שידורים</h4>
  <form [formGroup]="filterForm" (ngSubmit)="getKevaCharges()">
    <div class="row justify-content-center align-items-baseline">
      <div class="search col-col-xs-6 col-sm-5 col-md-2 col-lg-2 col-xl-2">
        <mat-form-field style="width: 100%">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
      </div>
      <mat-form-field class="col-xs-5 col-sm-5 col-md-2 col-lg-2 col-xl-2">
        <mat-label>Instituteid</mat-label>
        <mat-select formControlName="instituteid">
          <mat-option *ngFor="let group of (globalData$ | async)?.institutes" [value]="group.instituteId">
            {{group.Mosad}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="col-xs-6 col-sm-5 col-md-2 col-lg-2 col-xl-2 mb-2">
        <button type="submit" mat-raised-button
          style="background-color:rgb(38, 87, 122); color: white; width: 100%">Show
          charges</button>
      </div>
      <div class="col-xs-6 col-sm-5 col-md-2 col-lg-2 col-xl-2 mb-2">
        <button color="default" type="button" mat-stroked-button (click)="goBack()"
          style="width: 100%">Back
          to payments</button>
      </div>
      <!-- <div class="col-xs-6 col-sm-5 col-md-2 col-lg-2 col-xl-2 mb-2">
        <button color="default" type="button" mat-raised-button [routerLink]="[ '/payments-grid']"
          style="width: 100%">Back to payments</button>
      </div> -->
    </div>
  </form>
</div>
<hr>
<app-payments-table-view (showKevaDetails)="showKevaDetails($event)" [dataSource]="dataSource"
  [listDisplayedColumns]="listDisplayedColumns" [columns]="columns">
</app-payments-table-view>

<mat-paginator [pageSizeOptions]="[10, 25, 50, 100 ]"></mat-paginator>