.mainContent {
  min-height: 700px;
}

input.mat-input-element {
  color: black
}

textarea.mat-input-element {
  color: black
}

::ng-deep .mat-select-disabled .mat-select-value {
  color: black
}

.label {
  margin-right: 15px;
  margin-left: 50px;
  justify-content: space-between;
}

button {
  background-color: whitesmoke;
  margin: inherit;
  align-self: center;
}

.ngContentButton{
  width: 25px;
  height: 75px;
}
