<mat-card class="mb-4">
  <div class="row mb-4 label">
    <h3>{{'Personal info' | translate}}</h3>
    <i *ngIf="!editMode" style="cursor: pointer; float: left; margin-right: 10px"
      (click)="editFormControl(personalInfoControl)" class=" material-icons">create</i>
    <i *ngIf="editMode" style="cursor: pointer; float: left;margin-right: 10px"
      (click)="savePersonalInfo(personalInfoControl)" class=" material-icons">save</i>

  </div>
  <app-dumb-presentation *ngIf="globalData$ | async; else loader" [globalData]="globalData$ | async"
    [filteredCustomerTitles]="filteredCustomerTitles$ | async" [personalInfo]="personalInfoControl"
    (newAction)="getAction($event)">
    <ng-template [ngIf]="globalData$ | async" #btn>
      <div class="ngContentButton">
        <i style="cursor: pointer" (click)="showFullComment()" class="material-icons">zoom_in
        </i>
      </div>

    </ng-template>

  </app-dumb-presentation>

  <ng-template #loader>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>

  </ng-template>





</mat-card>