<div class="row justify-content-start">
  <h5 style="margin-right: 10px" >Personal info</h5>
  <i style="cursor: pointer; float: left; margin-right: 10px" (click)="createAction('editPersonalInfo', personalInfo )"
    class=" material-icons">create</i>
  <i *ngIf="editMode" style="cursor: pointer; float: left;margin-right: 10px" (click)="createAction('savePersonalInfo', personalInfo)"
    class=" material-icons">save</i>

</div>

<hr class="mb-4">

<form [formGroup]="personalInfo" class="row mb-4" style="justify-content: space-around">
  <mat-form-field class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
    <input formControlName="fname" matInput placeholder="First name">
  </mat-form-field>
  <mat-form-field class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
    <input formControlName="lname" matInput placeholder="Last name">
  </mat-form-field>
  <mat-form-field class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
    <input formControlName="BirthDate" matInput placeholder="{{'Birthday' | translate}}">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <!-- <button matSuffix [matDatepickerToggle]="picker"></button> -->
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
    <mat-select formControlName="CustomerType" placeholder="{{'Customer type' | translate}}">
      <mat-option [value]="customerType.TypeId" *ngFor="let customerType of globalData.GetCustomerTypes">
        {{currentLang === 'he'? customerType.TypeNameHeb : customerType.TypeNameEng}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
    <input type="text" placeholder="{{'Title' | translate}}" aria-label="Number" matInput formControlName="Title"
      [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let title of filteredCustomerTitles$ | async; let i = index"
        [value]="currentLang === 'he'? title.TitleHeb : title.TitleEng">
        {{currentLang === 'he'? title.TitleHeb : title.TitleEng}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
    <mat-select formControlName="Gender" placeholder="{{'Gender' | translate}}">
      <mat-option [value]="1">Male</mat-option>
      <mat-option [value]="2">Female</mat-option>
      <mat-option [value]="0">Undefined</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
    <input formControlName="ID" matInput placeholder="T.Z">
  </mat-form-field>

  <mat-form-field class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
    <input formControlName="Company" matInput placeholder="Company">
  </mat-form-field>
  <mat-form-field class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
    <input formControlName="SpouseName" matInput placeholder="Spouse name">
  </mat-form-field>
  <mat-form-field class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
    <input formControlName="FileAs" matInput placeholder="File As">
  </mat-form-field>
  <mat-checkbox class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 text-right" formControlName="AfterSunsetnumber">
    <strong>{{'After sunset' | translate}}</strong>
  </mat-checkbox>
</form>