<mat-expansion-panel *ngIf="step === 3" class="example-headers-align mb-1" [expanded]="step === 3"
  (opened)="receiptService.setStep(3)" hideToggle>
  <mat-expansion-panel-header class="mb-2">
    <mat-panel-title>
      <h6>{{'Receipt type' | translate}}</h6>
    </mat-panel-title>
    <mat-panel-description translate>
      <h6 *ngIf="selected_receiptIsForDonation.value === true">{{'Donation' | translate}}</h6>
      <h6 *ngIf="selected_receiptIsForDonation.value === false">{{'Sales' | translate}}</h6>
      <mat-icon>date_range</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <div *ngIf="!changeOptions" [style.fontSize]="'20px'">
    <form [formGroup]="receiptTypeGroup">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 col-xl-2">
          <span *ngIf="organisations.length !== 0">
            <mat-form-field style="width: 100%">
              <mat-select placeholder="{{'Organisation' | translate}}" formControlName="selectedOrg"
                (selectionChange)="clearValueOfReceiptType()">
                <mat-option *ngFor="let org of organisations" [value]="org.orgid" (click)="radButChanged()">
                  {{org.orgname}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <hr>
          </span>

          <mat-form-field style="width: 100%" >
            <mat-select #PaymentMethod placeholder="{{'Payment method' | translate}}" formControlName='paymentMethodId'
              required >
              <mat-option [value]="payment.PayTypeId" *ngFor="let payment of paymentMethods"
                (click)="creditCardModalOpen(payment.PayTypeId)">
                {{currentLang === 'he'? payment.PaymentTypeOther : payment.PaymentTypeEng}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!-- <mat-error *ngIf="isVerified === false">Please verify your credit card.</mat-error>
        <mat-form-field *ngIf="!disabledPayMethod" class="ml-2">
          <mat-select #PaymentMethod placeholder="{{'Payment method' | translate}}" [formControl]='payMath' required>
            <mat-option [value]="payment.PayTypeId" *ngFor="let payment of paymentMethods"
              (click)="checkPayType(PaymentMethod.value); creditCardModalOpen(PaymentMethod.value)">
              {{currentLang === 'he'? payment.PaymentTypeOther : payment.PaymentTypeEng}}
            </mat-option>
          </mat-select>
        </mat-form-field> -->
        </div>

        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 col-xl-2">
          <mat-form-field style="width: 100%">
            <mat-select placeholder="{{'Booklet name' | translate}}" formControlName="receiptTypeId" required>
              <mat-option *ngFor="let type of newReceiptTypes" [value]="type.RecieptTypeId"
                (click)="setSelectedReceiptType(type)">{{type.RecieptName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <hr *ngIf="organisations.length !== 0">
          <button *ngIf="paymentMethodId === 3 && isVerified === false" type="button" class="mb-1"
            (click)="creditCardModalOpen(3)" mat-raised-button color="warn">{{'Charge credit card' | translate}}
          </button>
        </div>

        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2 col-xl-2">
          <label id="example-radio-group-label"><strong>{{'Receipt type' | translate}}</strong></label>
          <mat-radio-group aria-labelledby="example-radio-group-label"
            (change)="radButChanged(); clearValueOfReceiptType()" formControlName="selected_receiptIsForDonation"
            class="example-radio-group">
            <mat-radio-button class="example-radio-button" [value]="true">
              {{'Donation' | translate}}
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" [value]="false">
              {{'Sales' | translate}}
            </mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2 col-xl-2">
          <label id="example-radio-group-label"><strong>{{'Card type' | translate}}</strong></label>
          <mat-radio-group #creditCard aria-labelledby="example-radio-group-label"
            (change)="radButChanged();clearValueOfReceiptType()" formControlName="selected_receiptCreditOrDebit"
            class="example-radio-group">
            <mat-radio-button class="example-radio-button" [value]="false">
              {{'Debit' | translate}}
            </mat-radio-button>

            <mat-radio-button class="example-radio-button" [value]="true">
              {{'Credit' | translate}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div *ngIf="receiptCreditOrDebit === true && paymentMethodId === 3"
          class="col-xs-12 col-sm-12 col-md-4 col-lg-2 col-xl-2">
          <p><strong>will be text</strong></p>
          <mat-form-field style="width: 100%">
            <input matInput placeholder="{{'Credit password' | translate}}" formControlName='creditCardPassword'
              type="text" autocomplete="off">
          </mat-form-field>
        </div>
        <!-- <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 col-xl-2">
        <mat-error *ngIf="isVerified === false">Please verify your credit card.</mat-error>
        
      </div> -->
      </div>
    </form>
  </div>
  <!-- <button type="button" mat-flat-button color="primary"
    (click)="changeOptions=!changeOptions">{{changeOptions? 'Hide':'Change options'}}</button> -->

  <mat-action-row>
    <button mat-raised-button class="mr-1 ml-2" (click)="receiptService.setStep(1)"
      [ngStyle]="{'background-color': 'rgb(250, 174, 33)'}">
      {{'Previous' | translate}}
    </button>
    <button type="button" mat-raised-button color="primary" [disabled]="nextStepDisabled"
      [ngStyle]="{'background-color': nextStepDisabled === false ? 'rgb(38, 87, 122)' : '' , 'color': nextStepDisabled === false ? 'white' : ''}"
      (click)="addPaymentTypeToReceipt()">
      {{'Next' | translate}}
    </button>
  </mat-action-row>
</mat-expansion-panel>