.example-container {
  display: flex;
  flex-direction: column;
}

.example-container>* {
  width: 100%;
}

.search-results {
  height: 800px;
  overflow: scroll;
}




::ng-deep .mat-select-arrow-wrapper {
  /* padding-right: 167px; */
}
