<div class="row mb-5 fontSize" [formGroup]="secondStep">
  <div class="col-xs-12 col-sm-7 col-md-3 col-lg-3 col-xl-3">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="FileAs" formControlName="fileAs">
    </mat-form-field>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 col-xl-3">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="TZ" formControlName="ID">
    </mat-form-field>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3" style="direction:ltr">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Tel 1" formControlName="tel1">
    </mat-form-field>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3" style="direction:ltr">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Tel 2" formControlName="tel2">
    </mat-form-field>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-6 col-xl-6">
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Leave a comment" formControlName="remark"></textarea>
    </mat-form-field>
  </div>
</div>