<div class="row mb-5" [formGroup]="secondStep">
  <div class="col-12 text-right">
    <h4>TITLE</h4>
  </div>
  <div class="col-3">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="FileAs" formControlName="fileAs">
    </mat-form-field>
  </div>
  <div class="col-3">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="TZ" formControlName="Tz">
    </mat-form-field>
  </div>
  <div class="col-3">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Tel 1" formControlName="tel1">
    </mat-form-field>
  </div>
  <div class="col-3">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Tel 2" formControlName="tel2">
    </mat-form-field>
  </div>
  <div class="col-6">
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Leave a comment" formControlName="remark"></textarea>
    </mat-form-field>
  </div>
</div>