<form [formGroup]="mainInfoForm">
  <div class="row justify-content-start mb-3">
    <h5 style="margin-right: 15px">{{'Email' | translate}}
    </h5>
    <i style="cursor: pointer; float: left; margin-right: 10px" (click)="createAction('addNewEmail')"
      class=" material-icons">add</i>
    <i *ngIf="editMode" style="cursor: pointer; float: left;margin-right: 10px"
      (click)="createAction('saveEmail', emails)" class="material-icons">save</i>

  </div>
  <hr class="mb-4">

  <div class="mr-3 mb-5">
    <div formArrayName="emails">
      <div *ngFor="let email of emails.controls; let i=index">
        
            <div [formGroupName]="i" style="text-align: justify" class="mb-2 row">
                <mat-form-field class="col-xs-3 col-sm-3 col-md-4 col-lg-4 col-xl-3">
                  <input matInput placeholder="{{'Email name' | translate}}" type="text" formControlName="EmailName">
                </mat-form-field>
                <mat-form-field class="col-xs-3col-sm-3 col-md-5 col-lg-5 col-xl-5">
                  <input matInput placeholder="{{'Email' | translate}}" type="text" formControlName="Email">
                </mat-form-field>
                <i style="cursor: pointer" (click)="createAction('editEmail', i)" class=" material-icons">create</i>
                <i *ngIf="i !== 0" style="cursor: pointer" (click)="createAction('deleteEmail', i)"
                  class=" material-icons">delete</i>
 
       
          <!-- <button class="col-xs-12 col-sm-12 col-md-1 col-lg-1 col-xl-1 mb-3" (click)="deleteEmail(i)"
              *ngIf="i !== 0" type="button" mat-stroked-button color="warn">{{'Delete' | translate}}</button> -->
        </div>
      </div>
    </div>
  </div>
</form>