<mat-card  class="mb-4">
  <form [formGroup]="mainInfoForm" style="font-size: 18px">
    <div class="row justify-content-start mb-3">
      <h3 style="margin-right: 15px">{{'Email' | translate}}
      </h3>
      <button class="mr-2" mat-flat-button style="background-color:  rgb(38, 87, 122); color: white;height: min-content"
        (click)="getAction(newEvent = {action:'addNewEmail', index: null})">Add new</button>
  
      <!-- <i style="cursor: pointer; float: left; margin-right: 10px" (click)="getAction({action:'addNewEmail', subject: null})"
        class=" material-icons">add</i> -->
      <!-- <i *ngIf="editMode" style="cursor: pointer; float: left;margin-right: 10px"
        (click)="createAction('saveEmail', emails)" class="material-icons">save</i> -->
  
    </div>
  
    <div class="mb-5">
      <div formArrayName="emails">
        <div *ngFor="let email of emails.controls; let i=index">
          <app-customer-email (newAction)="getAction($event)" 
            [emailGroup]="email" [i]="i" ></app-customer-email>
          <hr>
          <!-- <div [formGroupName]="i" style="text-align: justify" class="mb-2 row">
            <mat-form-field class="col-xs-11 col-sm-10 col-md-2 col-lg-2 col-xl-2">
              <input matInput placeholder="{{'Email name' | translate}}" type="text" formControlName="emailName">
            </mat-form-field>
            <mat-form-field class="col-xs-11 col-sm-10 col-md-3 col-lg-3 col-xl-3">
              <input matInput placeholder="{{'Email' | translate}}" type="text" formControlName="email">
            </mat-form-field>
            <i style="cursor: pointer" (click)="createAction('editEmail', i)" class=" material-icons">create</i>
            <i *ngIf="i !== 0" style="cursor: pointer" (click)="createAction('deleteEmail', i)"
              class=" material-icons">delete</i>
          </div> -->
        </div>
        <div style="text-align: justify">
            <span *ngIf="emails.controls.length === 0 && !loading">No one email</span>
    
          </div>
        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  
  
        </div>
    </div>
  </form>
</mat-card>
