input.mat-input-element {
  color: black
}

::ng-deep .mat-select-disabled .mat-select-value {
  color: black
}

.emailDirection {
  direction: ltr;
}

input {
  direction: initial;
}

p.button {
  direction: initial;
}
