input.mat-input-element {
  color: black
}

::ng-deep .mat-select-disabled .mat-select-value {
  color: black
}

.emailDirection {
  direction: initial;
}


p.button {
  direction: initial;
}

.birthdayRow {
  text-align: justify;

}