<div class="sideBlock">
  <mat-card class="mat-card">
    <mat-card-header class="cardHeader">
      <div>
        <div class="mb-2">
          <img style="width: 200px; height: 200px" src="../../assets/images/icon_user_male.jpg" alt="">
        </div>
        <div>
          <h4>{{_name}}</h4>
          <p style="text-align: justify">{{'Email' | translate}}: {{_email}} </p>
          <p style="text-align: justify">{{'Phone' | translate}}: {{_phone}}</p>

        </div>
      </div>
    </mat-card-header>
    <mat-card-content class="cardContent">
      <mat-list role="list">
        <mat-list-item role="listitem"><button (click)="showNestMenu = !showNestMenu;" style="width: 200px" mat-button>
            <strong>Main info</strong>
          </button></mat-list-item>
        <mat-list role="list" *ngIf="showNestMenu">
          <mat-list-item role="listitem">
            <button (click)="selectChildMenuItem('personalInfo')"
              [ngClass]="{'nestedmenuBackColor': pickedMenu == 'personalInfo'}" style="width: 200px" mat-button><span
                class="nestedmenu">Personal info</span> </button>
          </mat-list-item>
          <mat-list-item role="listitem"> <button (click)="selectChildMenuItem('phones')"
              [ngClass]="{'nestedmenuBackColor': pickedMenu == 'phones'}" style="width: 200px" mat-button><span
                class="nestedmenu">{{'Phone' | translate}}</span> </button></mat-list-item>
          <mat-list-item role="listitem"> <button (click)="selectChildMenuItem('emails')"
              [ngClass]="{'nestedmenuBackColor': pickedMenu == 'emails'}" style="width: 200px" mat-button><span
                class="nestedmenu">{{'Email' | translate}}</span> </button></mat-list-item>
          <mat-list-item role="listitem"> <button (click)="selectChildMenuItem('addresses')"
              [ngClass]="{'nestedmenuBackColor': pickedMenu == 'addresses'}" style="width: 200px" mat-button><span
                class="nestedmenu">Address</span> </button></mat-list-item>
        </mat-list>


        <mat-list-item role="listitem"><button (click)="showPaymentsNestMenu = !showPaymentsNestMenu;"
            style="width: 200px" mat-button>
            <strong>Payments</strong></button>
        </mat-list-item>
        <mat-list role="list" *ngIf="showPaymentsNestMenu">
          <mat-list-item role="listitem">
            <button (click)=" navigateTo('receipts')"
              [ngClass]="{'nestedmenuBackColor': pickedMenu == 'receipts'}" style="width: 200px" mat-button><span
                class="nestedmenu">Receipts</span> </button>
          </mat-list-item>
        </mat-list>



        <mat-list-item role="listitem"><button (click)=" navigateTo('receipts')" style="width: 200px" mat-button>
            <strong>Receipts</strong></button>
        </mat-list-item>

        <mat-list-item role="listitem"><button style="width: 200px" mat-button> <strong>Item 1</strong></button>
        </mat-list-item>

      </mat-list>
    </mat-card-content>

  </mat-card>
</div>