<mat-card class="mainContent" [style.fontSize]="'20px'">
      <mat-card-header>
            <h3>Main info</h3>

      </mat-card-header>
      <mat-card-content>
            <hr>
            <div class="row ">
                  <!-- PERSONAL INFO -->
                  <div *ngIf="currentMenuItem === 'personalInfo'" class="col-12 mb-4">
                        <app-main-info-view (newAction)="getActionFromChildren($event)"
                              [globalData]="globalData$ | async" [filteredCustomerTitles$]="filteredCustomerTitles$"
                              [personalInfo]="personalInfo">
                        </app-main-info-view>
                  </div>

                  <!-- PHONES-->
                  <div *ngIf="currentMenuItem === 'phones'" class="col-12">
                        <app-phones-info (newAction)="getActionFromChildren($event)" [mainInfoForm]="mainInfoForm"
                              [phones]="phones"></app-phones-info>
                  </div>
                  <!-- EMAILS -->
                  <div *ngIf="currentMenuItem === 'emails'" class="col-12">
                        <app-emails-info (newAction)="getActionFromChildren($event)" [mainInfoForm]="mainInfoForm"
                              [emails]="emails"></app-emails-info>
                  </div>
                  <!-- ADDRESSES -->
                  <div *ngIf="currentMenuItem === 'addresses'" class="col-12">
                        <app-addresses-info (newAction)="getActionFromChildren($event)" [mainInfoForm]="mainInfoForm"
                              [addresses]="addresses"></app-addresses-info>
                  </div>
            </div>
      </mat-card-content>
</mat-card>