<div class="mainContent" [style.fontSize]="'20px'">
      <!-- <mat-card-header> -->
      <h3>Main info</h3>
      <!-- </mat-card-header>
      <mat-card-content> -->
      <div class="row ">
            <!-- PERSONAL INFO -->
            <mat-card class="col-12 mb-4">
                  <app-main-info-view [mainInfoForm]="mainInfoForm"></app-main-info-view>
            </mat-card>

            <!-- PHONES-->
            <mat-card class="col-12 mb-4">
                  <app-phones-info [mainInfoForm]="mainInfoForm">
                  </app-phones-info>
            </mat-card>
            <!-- EMAILS -->
            <mat-card class="col-12 mb-4">
                  <app-emails-info [mainInfoForm]="mainInfoForm">
                  </app-emails-info>
            </mat-card>
            <!-- ADDRESSES -->
            <mat-card class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-4">
                  <app-addresses-info [mainInfoForm]="mainInfoForm">
                  </app-addresses-info>
            </mat-card>
      </div>
      <!-- </mat-card-content> -->
</div>