<form [formGroup]="personalInfo" class="row mb-4" style="font-size: 18px; align-items: flex-end;">
  <mat-form-field class="col-sm-12 col-md-12 col-lg-12 col-xl-3">
    <input formControlName="fname" matInput placeholder="{{'First name' | translate}}">
  </mat-form-field>
  <mat-form-field class="col-sm-12 col-md-12 col-lg-12 col-xl-3">
    <input formControlName="lname" matInput placeholder="{{'Last name' | translate}}">
  </mat-form-field>
  <mat-form-field class="example-full-width col-sm-12 col-md-12 col-lg-12 col-xl-3">
    <input type="text" placeholder="{{'Title' | translate}}" aria-label="Number" matInput formControlName="title"
      [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let title of filteredCustomerTitles; let i = index"
        [value]="currentLang === 'he'? title?.TitleHeb : title?.TitleEng">
        {{currentLang === 'he'? title?.TitleHeb : title?.TitleEng}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field class="col-sm-12 col-md-12 col-lg-12 col-xl-3">
    <mat-select formControlName="customerType" placeholder="{{'Customer type' | translate}}">
      <mat-option [value]="customerType.TypeId" *ngFor="let customerType of globalData?.GetCustomerTypes">
        {{currentLang === 'he'? customerType.TypeNameHeb : customerType.TypeNameEng}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="col-sm-12 col-md-12 col-lg-12 col-xl-3">
    <input formControlName="birthDate" matInput placeholder="{{'Birthday' | translate}}">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <!-- <button matSuffix [matDatepickerToggle]="picker"></button> -->
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>


  <!-- <mat-form-field class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
    <mat-label>Contact person</mat-label>
    <mat-select>
      <mat-option>None</mat-option>
      <mat-option value="option1">Option 1</mat-option>
    </mat-select>
  </mat-form-field> -->

  <mat-form-field class="col-sm-12 col-md-12 col-lg-12 col-xl-3">
    <mat-select formControlName="gender" placeholder="{{'Gender' | translate}}">
      <mat-option [value]="1">Male</mat-option>
      <mat-option [value]="2">Female</mat-option>
      <mat-option [value]="0">Undefined</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="col-sm-12 col-md-12 col-lg-12 col-xl-3">
    <input formControlName="tz" matInput placeholder="{{'T.Z' | translate}}">
  </mat-form-field>

  <mat-form-field class="col-sm-12 col-md-12 col-lg-12 col-xl-3">
    <input formControlName="company" matInput placeholder="{{'Company' | translate }}">
  </mat-form-field>
  <mat-form-field class="col-sm-12 col-md-12 col-lg-12 col-xl-3">
    <input formControlName="spouseName" matInput placeholder="{{'Spouse name' | translate}}">
  </mat-form-field>
  <mat-form-field class="col-sm-12 col-md-12 col-lg-12 col-xl-3">
    <input formControlName="fileAs" matInput placeholder="{{'FileAs' | translate}}">
  </mat-form-field>



  <mat-form-field class="col-sm-12 col-md-10 col-lg-10 col-xl-5">
    <textarea matInput formControlName="remark" type="text" placeholder="Comment"></textarea>
  </mat-form-field>
  <ng-content></ng-content>
    

   

 
   
  
  
  <!-- <mat-checkbox class="col-sm-12 col-md-3 col-lg-3 col-xl-3 text-right" formControlName="afterSunset1">
    <strong>{{'After sunset' | translate}}</strong>
  </mat-checkbox> -->
</form>