<div class="row text-right align-items-center fontSize" [formGroup]="fifthStep">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 mb-3">
    <mat-form-field class="example-full-width">
      <mat-label>{{'Receipt' | translate}}</mat-label>
      <mat-select formControlName="receipt">
        <ng-container *ngFor="let recType of (globalData$ | async)?.ReceiptTypes">
          <mat-option *ngIf="recType.UseAsCreditReceipt === false && recType.ForCanclation === false"
            [value]="recType.RecieptTypeId">
            {{recType.RecieptName}}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- FORKEVA = true CAncel = true UseAs = true for Zikyi
  FOr = true CAncel = true useAs = false -->
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 mb-3">
    <mat-form-field class="example-full-width">
      <mat-label>{{'Receipt' | translate}}</mat-label>
      <mat-select formControlName="receipt2">
        <ng-container *ngFor="let recType of (globalData$ | async)?.ReceiptTypes | paymentTypeFilter: paymentType">
          <mat-option [value]="recType.RecieptTypeId">
            {{recType.RecieptName}}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 mb-3">
    <mat-form-field class="example-full-width">
      <mat-label>{{'Goal' | translate}}</mat-label>
      <mat-select formControlName="goal">
        <mat-option *ngFor="let donType of (globalData$ | async)?.DonationTypes" [value]="donType.DonationTypeId">
          {{donType.DonationTypeOther}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 mb-3">
    <mat-form-field class="example-full-width">
      <mat-label>{{'Account' | translate}}</mat-label>
      <mat-select formControlName="account">
        <mat-option *ngFor="let acc of (globalData$| async)?.Accounts " [value]="acc.AccountId">
          {{acc.AccountName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 mb-3">
    <mat-form-field class="example-full-width">
      <mat-label>{{'Projects categories' | translate}}</mat-label>
      <mat-select formControlName="projCat">
        <mat-option *ngFor="let cat of (globalData$ | async)?.ProjectsCategories" [value]="cat.ProjectCategoryId">
          {{cat.CategoryName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 mb-3">
    <mat-form-field class="example-full-width">
      <mat-label>{{'Projects' | translate}}</mat-label>
      <mat-select formControlName="project">
        <ng-container *ngFor="let project of (globalData$ | async)?.Projects4Receipts">
          <mat-option *ngIf="project.ProjectCategoryId === projectCat.value" [value]="project.ProjectId">
            {{project.ProjectName}}
          </mat-option>
        </ng-container>


      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 mb-3">
    <mat-form-field class="example-full-width">
      <mat-label>{{'Employee ID' | translate}}</mat-label>
      <mat-select formControlName="employeeId">
        <mat-option *ngFor="let project of employeeList$ | async" [value]="project.employeeId">
          {{project.EmpName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 mb-3">
    <mat-form-field class="example-full-width">
      <mat-label>{{'Thanks letter' | translate}}</mat-label>
      <mat-select formControlName="thanksLetter">
        <mat-option *ngFor="let project of (globalData$ | async)?.ReceiptThanksLetter" [value]="project.ThanksLetterId">
          {{project.ThanksLetterName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 mb-3">
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="{{'Address' | translate}}" aria-label="Number" matInput formControlName="address"
        [matAutocomplete]="address">
      <mat-autocomplete #address="matAutocomplete">
        <mat-option *ngFor="let address of customerAddresses; let i = index"
          [value]="address.cityName + ' ' + address.street + ' ' +  address.zip">
          {{address.cityName}} {{address.street}} {{address.zip}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <!-- <mat-form-field class="example-full-width">
      <input matInput placeholder="{{'Address' | translate}}" formControlName="address">
    </mat-form-field> -->
  </div>
  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="{{'FileAs' | translate}}" formControlName="receiptName">
    </mat-form-field>
  </div>
  <div class="col-6">

    <mat-form-field class="example-full-width" style="direction: ltr;
    ">
      <input type="text" placeholder="{{'Email' | translate}}" aria-label="Number" matInput formControlName="email"
        [matAutocomplete]="email">
      <mat-autocomplete #email="matAutocomplete">
        <mat-option *ngFor="let email of customerEmails; let i = index" [value]="email.email">
          {{email.email}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <!-- <mat-form-field class="example-full-width">
      <input matInput placeholder="{{'Email' | translate}}" formControlName="email">
    </mat-form-field> -->
  </div>
  <div class="col-6">
    <mat-checkbox formControlName="kevaMakeRecieptByYear">{{'Make receipt by year' | translate}}</mat-checkbox>
  </div>
</div>