/* .cardHeader {
  display: flex;
  justify-content: center
}

.cardContent {
  display: flex;
  justify-content: center;
}



/* .sideBlock {
  display: block;
  width: 300px;
  height: 780px;
}

.sideCard {
  width: 100%;
  height: 100%;
}

mat-card {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 17px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12) !important
} */


.nestedmenu {
  margin-left: -50px;
  font-size: 17px;
}

.nestedmenuBackColor {
  background-color: whitesmoke
}

::ng-deep .mat-list-item-content {
  justify-content: center !important
}

.itemMenuText {
  font-size: 20px
}
.mainMenuItem {
  justify-content: flex-end;
  align-items: center;
}
