table {
  width: 100%;
  text-align: right;

}

th.notBtn{
  min-width: 100px;
  width: fit-content;
}

.elevation {
  height: 85%;
  width: 100%;
  overflow: auto;
  min-height: 300px
}

.btn-lable-width {
  width: 20px
}

.element-row:hover {
  cursor: pointer;
  background-color: whitesmoke !important;
}
