table {
  width: 5000px;
  /* text-align: right; */
  text-align: justify;
}

.elevation {
  height: 700px;
  width: 100%;
  overflow: auto;
}

.element-row:hover {
  cursor: pointer;
  background-color: whitesmoke !important;
}


