<div class="container mt-3">
</div>
<div *ngIf="windowWidth > 1575" class="search" style="width: 250px">
  <mat-form-field style="width: 250px">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>
</div>
<div class="container">
  <form (window:resize)="onResize($event)" [formGroup]="filterForm" (ngSubmit)="showFilteredPayments()">

    <div class="row justify-content-center align-items-baseline">
      <mat-form-field class="col-xs-5 col-sm-5 col-md-2 col-lg-2 col-xl-2">
        <input matInput (keyup)="applyFilterByDay($event.target.value)" placeholder="Search by day">
      </mat-form-field>

      <mat-form-field class="col-xs-5 col-sm-5 col-md-2 col-lg-2 col-xl-2">
        <mat-label>Clearing firm</mat-label>
        <mat-select formControlName="instituteid">
          <mat-option *ngFor="let group of (globalData$ | async)?.institutes" [value]="group.instituteId">
            {{group.Mosad}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="col-xs-5 col-sm-5 col-md-2 col-lg-2 col-xl-2">
        <mat-label>Standing bank</mat-label>
        <mat-select formControlName="kevaTypeid">
          <mat-option value="1"> מס"ב - חיוב לקוח</mat-option>
          <mat-option value="2"> מס"ב - זיכוי לקוח </mat-option>
          <mat-option value="3"> כ.אשראי - חיוב לקוח</mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field class="col-xs-5 col-sm-5 col-md-2 col-lg-2 col-xl-2">
        <mat-label>Activity Status</mat-label>
        <mat-select formControlName="KevaStatusid">
          <mat-option value="9999">All</mat-option>
          <mat-option *ngFor="let group of (globalData$| async)?.KevaStatus"
            [value]="group.KevaStatusId">
            {{group.KevaStatusIdname}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="col-xs-5 col-sm-5 col-md-2 col-lg-2 col-xl-2">
        <mat-label>Group</mat-label>
        <mat-select formControlName="KevaGroupid">
          <mat-option value="9999">All groups</mat-option>
          <mat-option *ngFor="let group of (globalData$ | async)?.KevaGroups" [value]="group.GroupId">
            {{group.GroupName}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="col-xs-6 col-sm-5 col-md-2 col-lg-2 col-xl-2 mb-2">
        <button type="submit" mat-raised-button
          style="background-color: rgb(38, 87, 122); color: white; width: 100%">Show</button>
      </div>
    </div>
  </form>
</div>
<!-- <div class="col-xs-6 col-sm-5 col-md-2 col-lg-2 col-xl-2 text-right mr-3"> -->


<!-- </div> -->

<div class="row mb-2" style="align-items: center; width: 100%; margin: inherit"
  [ngClass]="{'justify-content-center': 400 > windowWidth ? true : false}">
  <div class=" mr-lg-3 mr-xl-3">
    <button mat-stroked-button [matMenuTriggerFor]="menu" style="background-color:  rgb(38, 87, 122); color: white">New
      payment</button>
    <mat-menu #menu="matMenu">
      <button (click)="setPaymentType('1')" mat-menu-item>מס"ב - חיוב
        לקוח</button>
      <button (click)="setPaymentType('2')" mat-menu-item>מס"ב -
        זיכוי לקוח</button>
      <button (click)="setPaymentType('3')" mat-menu-item>כ.אשראי -
        חיוב לקוח</button>
    </mat-menu>
  </div>
  <div class="mr-1">
    <button type="submit" mat-stroked-button (click)="kevaHistory()"
      style="background-color: rgb(250, 174, 33)"><strong>הסטוריית
        שידורים</strong> </button>
  </div>

  <div *ngIf="1575 > windowWidth" class="mr-2">
    <mat-form-field class="searchMobileVers">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>
  </div>

</div>