<div class="sideBlock">
  <mat-card class="mat-card">
      <div class="row">
        <div class="col-12">
          <div class="row justify-content-center">
            <h4>{{'Customer id' | translate}} : {{customerId}}</h4>
            <app-customer-photo></app-customer-photo>
          </div>
        </div>

        <div class="col-12">
          <div class="row justify-content-center">

            <customer-info [customerDetailsById]="customerDetailsById$ | async"></customer-info>
          </div>
        </div>

      </div>
    <mat-card-content class="cardContent">
      <app-side-menu [animationState]="animationState" (selectedRoute)="setCurrentMenuItem($event)" class="sideMenu">
      </app-side-menu>
    </mat-card-content>
  </mat-card>
</div>