
<div class="row mb-5 fontSize" [formGroup]="fourthStep">
  <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 col-xl-2">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="{{'Amount' | translate}}" formControlName="amount">
    </mat-form-field>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 col-xl-2">
    <mat-form-field class="example-full-width">
      <mat-label>{{'Currency' | translate}}</mat-label>
      <mat-select formControlName="currency">
        <mat-option *ngFor="let group of (globalData$ | async)?.GetCurrencyTypes" [value]="group.CurrencyId">
          {{group.CurrencyId}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 col-xl-3 mb-3">
    <mat-form-field class="example-full-width">
      <mat-label>{{'Day' | translate}}</mat-label>
      <mat-select formControlName="day">
        <mat-option *ngFor="let day of days" [value]="day + 1">
          {{day + 1}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 col-xl-3 mb-3">
    <mat-form-field class="example-full-width">
      <mat-label>{{'Company' | translate}}</mat-label>
      <mat-select formControlName="company">
        <mat-option *ngFor="let inst of (globalData$ | async)?.institutes " [value]="inst.instituteId">
          {{inst.Mosad}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!-- <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 col-xl-2">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="hashbon" formControlName="startDate">
    </mat-form-field>
  </div> -->
  <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 col-xl-3 mb-3">
    <mat-form-field class="example-full-width">
      <input matInput [matDatepicker]="startDate" formControlName="startDate" placeholder="{{'Start Date' | translate}}">
      <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
      <mat-datepicker #startDate></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 col-xl-3 mb-3">
    <mat-form-field class="example-full-width">
      <input matInput [matDatepicker]="date1" formControlName="endDate" placeholder="{{'End Date' | translate}}">
      <mat-datepicker-toggle matSuffix [for]="date1"></mat-datepicker-toggle>
      <mat-datepicker #date1></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 col-xl-3 mb-3">
    <mat-form-field class="example-full-width">
      <input matInput [matDatepicker]="date2" formControlName="KEVAJoinDate" placeholder="{{'KEVA Join Date' | translate}}">
      <mat-datepicker-toggle matSuffix [for]="date2"></mat-datepicker-toggle>
      <mat-datepicker #date2></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 col-xl-3 mb-3">
    <mat-form-field class="example-full-width">
      <input matInput [matDatepicker]="date3" formControlName="KEVACancleDate" placeholder="{{'KEVA Cancel Date' | translate}}">
      <mat-datepicker-toggle matSuffix [for]="date3"></mat-datepicker-toggle>
      <mat-datepicker #date3></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 col-xl-3 mb-3">
    <mat-form-field class="example-full-width">
      <input #monthToCharge matInput placeholder="{{'Month to charge' | translate}} " formControlName="monthToCharge">
      <mat-hint>{{monthToCharge.value.length}}/4</mat-hint>
    </mat-form-field>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 col-xl-3 mb-3">
    <mat-form-field class="example-full-width">
      <input #chargeMonth matInput placeholder="{{'Charge month' | translate}}" formControlName="chargeMonth">
      <mat-hint>{{chargeMonth.value.length}}/4</mat-hint>
    </mat-form-field>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 col-xl-3 mb-3">
    <mat-form-field class="example-full-width">
      <input #letToCharge matInput placeholder="{{'Left to charge' | translate}} " formControlName="leftToCharge">
      <mat-hint>{{letToCharge.value.length}}/4</mat-hint>
    </mat-form-field>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 col-xl-3 mb-3">
    <mat-form-field class="example-full-width">
      <mat-label>{{'Tadirut' | translate}}</mat-label>
      <mat-select formControlName="tadirut">
        <mat-option [value]="0">חודשי</mat-option>
        <mat-option [value]="1">רבעוני</mat-option>
        <mat-option [value]="2">חצי שנתי</mat-option>
        <mat-option [value]="3">שנתי</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>



<!-- 0 חודשי
1 רבעוני
2 חצי שנתי
3 שנתי -->
 