h4 {
  direction: initial;
}

.buttonBox {
  text-align: center;
}

button {
  background-color: rgb(38, 87, 122);
  color: white;
}

.btn {
  background-color: rgb(38, 87, 122);

}

.cancel-button {
  width: 135px;

  background-color: rgb(250, 174, 33);
  color: black;


}

.submit-button {
  width: 135px;
  background-color: rgb(38, 87, 122);
  color: white;
}
