<mat-card>
  <img class="mb-2" src="assets/images/jaffa300.jpg" alt="Amax-logo">
  <mat-card-title [style.fontSize]="'22px'">{{'SystemLogin' | translate}}</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" [style.fontSize]="'18px'" (ngSubmit)="submit()">
      <p>
        <mat-form-field>
          <input type="text" matInput maxlength="35" placeholder="{{'OrganisationId' | translate}}"
            formControlName="orgid" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="{{'Name' | translate}}" formControlName="username" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input type="password" matInput maxlength="15" placeholder="{{'Password' | translate}}"
            formControlName="password" />
        </mat-form-field>
      </p>

      <div class="button row">
        <button type="button" [style.fontSize]="'16px'" mat-button *ngIf="currentLang === 'he'"
          (click)="generalSrv.switchLanguage('en')">en</button>
        <button type="button" [style.fontSize]="'16px'" mat-button *ngIf="currentLang === 'en'"
          (click)="generalSrv.switchLanguage('he')">he</button>
        <button [disabled]="form.disabled" class="btn-blue"  type="submit"
          mat-raised-button (keydown.enter)="submit()">{{'Login' | translate}}</button>
      </div>
    </form>
    <span class="ml-1">v1.3</span>
  </mat-card-content>
</mat-card>