<mat-expansion-panel *ngIf="receiptService.step === 4" class="example-headers-align row mb-1"
  [expanded]="receiptService.step === 4" (opened)="receiptService.setStep(4)" hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Payment
    </mat-panel-title>
    <mat-panel-description>
      Payment method
      <mat-icon>date_range</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>


  <div *ngIf="paymentMethodId === null">
    <h4>Please select a payment method on the first page </h4>
  </div>
  <div *ngIf="paymentMethodId !== null">
    <mat-form-field *ngIf="paymentMethodId !== 2 && paymentMethodId !== 7" class="col-4">
      <input matInput type="number" min="1" placeholder="Payment amount" [(ngModel)]="totalAmount" required>
    </mat-form-field>
    <mat-form-field class="ml-1" style="width: 100px">
      <mat-select placeholder="Currency" [value]="receiptService.selReceiptCurrencyId" [(ngModel)]="currency" required>
        <mat-option [value]="currency.CurrencyId" *ngFor="let currency of currencyTypes; let i = index">
          {{currency.CurrencyId}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="paymentMethodId === 3">
      <mat-form-field class="col-6">
        <mat-icon matPrefix>email</mat-icon>
        <input matInput placeholder="Total payments" type="tel" autocomplete="off">
      </mat-form-field>
      <mat-form-field class="col-6">
        <mat-icon matPrefix>money</mat-icon>
        <input matInput placeholder="Amount of first payment" type="tel" autocomplete="off">
      </mat-form-field>
      <mat-form-field class="col-12">
        <mat-icon matPrefix>money</mat-icon>
        <input matInput placeholder="Amount of each payment" type="tel" autocomplete="off">
      </mat-form-field>
    </div>
    <p>
      <mat-form-field *ngIf="paymentMethodId !== 2 && paymentMethodId !== 7">
        <input matInput [matDatepicker]="picker" placeholder="Due date" [(ngModel)]="dueDate" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </p>
    <mat-form-field>
      <mat-select placeholder="Payment for" [(ngModel)]="paymentFor" required>
        <mat-option [value]="donation.DonationTypeId" *ngFor="let donation of donationTypes; let i = index">
          {{donation.DonationTypeEng}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- <p>
    <button type="button" mat-button color="primary" (click)="showAccount=!showAccount">More</button>
  </p> -->

    <div>
      <p>
        <mat-form-field *ngIf="paymentMethodId !== 3">
          <mat-select placeholder="Account" [(ngModel)]="accountId" required>
            <mat-option [value]="account.AccountId" *ngFor="let account of accounts; let i = index">
              {{account.AccountNameEng}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-select #ProjCatName placeholder="Projects categories" required>
            <mat-option [value]="cat.ProjectCategoryId" *ngFor="let cat of projectsCategories; let i = index">
              {{cat.CategoryNameEng}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-select placeholder="Projects" [(ngModel)]="project" required>
            <mat-option [value]="project.ProjectId"
              *ngFor="let project of projects | filterProductsByCat: ProjCatName.value; let i = index">
              {{project.ProjectName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </p>
    </div>

    <!-- FIELD FOR PAYMENTS AS CHECK AND WIRE -->
    <div *ngIf="paymentMethodId === 2 || paymentMethodId === 7">
      <form #myForm="ngForm" (ngSubmit)="addPayment(myForm)" class="mb-2">

        <mat-form-field class="ml-1" style="width: 150px">
          <input matInput type="text" min="1" placeholder="Account No" #Account="ngModel" name="payAccount"
            [(ngModel)]="newCheckOrWire.payAccount" required>
        </mat-form-field>

        <mat-form-field class="ml-1" style="width: 150px">
          <input #DueDate="ngModel" matInput [matDatepicker]="picker" placeholder="Due date" name="dueDate"
            [(ngModel)]="newCheckOrWire.dueDate" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <!-- <mat-form-field class="ml-1" style="width: 150px">
        <mat-select #Bank="ngModel" placeholder="Bank" name="bank" [(ngModel)]="newCheckOrWire.bank" required>
          <mat-option (click)="test(bank)" [value]="bank" *ngFor="let bank of banks">{{bank.BankNameEng}}
          </mat-option>
        </mat-select> -->

        <mat-form-field class="ml-1" style="width: 150px">
          <input name="bank" type="text" placeholder="Bank" [formControl]="myControl" [matAutocomplete]="auto" matInput
            required>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let bank of filteredOptions | async; let i = index" [value]="bank.BankNameEng">
              {{bank.BankNameEng}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>


        <mat-form-field class="ml-1" style="width: 150px">
          <input matInput type="number" min="1" placeholder="Amount" #Amount="ngModel" name="amount"
            [(ngModel)]="newCheckOrWire.amount" required>
        </mat-form-field>

        <mat-form-field class="ml-1" style="width: 150px">
          <input matInput type="text" min="1" placeholder="Branch No" #Branch="ngModel" name="branch"
            [(ngModel)]="newCheckOrWire.branch" required>
        </mat-form-field>

        <mat-form-field *ngIf="paymentMethodId === 2" class="ml-1" style="width: 150px">
          <input matInput type="number" min="1" placeholder="Cheque No" #CheckNum="ngModel" name="checkNum"
            [(ngModel)]="newCheckOrWire.checkNum" required>
        </mat-form-field>
        <button [disabled]="myForm.invalid" class="ml-1" mat-raised-button color="primary" type="submit">Add</button>
      </form>
      <div class="table-responsive" *ngIf="payments.length > 0">
        <table class="table table-striped mb-2">
          <thead>
            <tr>
              <th scope="col">№</th>
              <th scope="col">Account</th>
              <th scope="col">Date</th>
              <th scope="col">Bank</th>
              <th scope="col">Amount</th>
              <th scope="col">Branch</th>
              <th *ngIf="paymentMethodId === 2" scope="col">Check №</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let check of payments; let i = index">
              <td>{{i + 1}}.</td>
              <th>{{check.payAccount}}</th>
              <td>{{check.dueDate}} </td>
              <td>{{check.bank}}</td>
              <td>{{check.amount | currency : ' NIS ' : number : '1.2-2'}}</td>
              <td>{{check.branch}}</td>
              <td *ngIf="paymentMethodId === 2">{{check.checkNum}}</td>
              <td><button mat-button color="warn" (click)="deletePayment(check)">Delete</button></td>
            </tr>
          </tbody>
        </table>
        <h5>Total amount: {{totalAmount | currency : ' NIS ' : number : '1.2-2'}}</h5>
      </div>
    </div>
  </div>

  <mat-action-row>
    <button mat-raised-button color="accent" class="mr-1" (click)="receiptService.prevStep()">
      Previous
    </button>
    <button type="button" mat-raised-button color="primary" (click)="receiptService.nextStep(); addPaymentToReceipt()">
      Next
    </button>
  </mat-action-row>
</mat-expansion-panel>