.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}


.table-responsive {
  display: table;
}

td{
  word-break:break-all;
}
.nextButton{
background-color: rgb(38, 87, 122);
color: white;
}