<div class="header mb-3">
  <h4>{{'Groups' | translate}}</h4>

  <button *ngIf="isShowGroupsOptions" class="mb-2 mr-1 ml-1 btn-blue" 
    type="button" mat-raised-button (click)="openModal('general')">
    {{'Add' | translate}}
  </button>

  <button *ngIf="isShowGroupsOptions" class="mb-2 mr-1 ml-1 btn-blue"
    type="button" mat-raised-button (click)="openModal('quick')">
    {{'שיוך מהיר לקבוצה' | translate}}
  </button>
</div>


<ul class="list-unstyled">
  <li *ngFor="let group of selectedGroups" class="row listItem">
    {{group.GroupName}} <i *ngIf="isShowGroupsOptions" style="cursor: pointer" (click)="deleteGroup(group.GroupId, group.GroupName)"
      class=" material-icons">delete</i>
  </li>
</ul>

