<div class="text-right row" style="width: 100%;">
  <mat-form-field class="col-3 mr-5">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>
<span style="font-size: 14px"> Selected: {{selectedCustomers.length}}</span>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row" (click)="selection.toggle(row)">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>
  'AccName',
  'AccountID',
  'AccountNo',
  'ActiveStatus',
  'Address',
  'BankCode',
  'CurrencyId',
  'Customerid',
  'Deceased',
  'Deleted',
  'EmployeeId',
  'FileAs',
  'GroupId',
  'GroupName',
  'Havur',
  'HokChargeDay',
  'HokDonationTypeId',
  'HokProjectId',
  'HokType'
  <!-- AccName Column -->
  <ng-container matColumnDef="AccName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> AccName </th>
    <td mat-cell *matCellDef="let element"> {{element.AccName}} </td>
  </ng-container>

  <!-- AccountID Column -->
  <ng-container matColumnDef="AccountID">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> AccountID </th>
    <td mat-cell *matCellDef="let element"> {{element.AccountID}} </td>
  </ng-container>

  <!-- AccountNo Column -->
  <ng-container matColumnDef="AccountNo">
    <th mat-header-cell *matHeaderCellDef> AccountNo </th>
    <td mat-cell *matCellDef="let element" style="cursor: pointer"><span (dblclick)="element.edit = 'true'"
        *ngIf="!element.edit">{{element.AccountNo}}</span><input [formControl]="formControl"
        (keydown.enter)="editElementOfTable(element)" #weight style="width: 50px" *ngIf="element.edit"
        [value]="element?.weight" matInput placeholder="Filter">
    </td>
  </ng-container>

  <!-- ActiveStatus Column -->
  <ng-container matColumnDef="ActiveStatus">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ActiveStatus </th>
    <td mat-cell *matCellDef="let element"> {{element.ActiveStatus}} </td>
  </ng-container>

  <!-- Address Column -->
  <ng-container matColumnDef="Address">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
    <td mat-cell *matCellDef="let element"> {{element.Address}} </td>
  </ng-container>

  <!-- BankCode Column -->
  <ng-container matColumnDef="BankCode">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> BankCode </th>
    <td mat-cell *matCellDef="let element"> {{element.BankCode}} </td>
  </ng-container>

  <!-- CurrencyId Column -->
  <ng-container matColumnDef="CurrencyId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> CurrencyId </th>
    <td mat-cell *matCellDef="let element"> {{element.CurrencyId}} </td>
  </ng-container>

  <!-- Customerid Column -->
  <ng-container matColumnDef="Customerid">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Customerid </th>
    <td mat-cell *matCellDef="let element"> {{element.Customerid}} </td>
  </ng-container>

  <!-- EmployeeId Column -->
  <ng-container matColumnDef="EmployeeId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> EmployeeId </th>
    <td mat-cell *matCellDef="let element"> {{element.EmployeeId}} </td>
  </ng-container>

  <!-- GroupName Column -->
  <ng-container matColumnDef="GroupName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> GroupName </th>
    <td mat-cell *matCellDef="let element"> {{element.GroupName}} </td>
  </ng-container>

  <!-- FileAs Column -->
  <ng-container matColumnDef="FileAs">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> FileAs </th>
    <td mat-cell *matCellDef="let element"> {{element.FileAs}} </td>
  </ng-container>

  <!-- Havur Column -->
  <ng-container matColumnDef="Havur">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Havur </th>
    <td mat-cell *matCellDef="let element"> {{element.Havur}} </td>
  </ng-container>
    <!-- KEVAStart Column -->
    <ng-container matColumnDef="KEVAStart">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> KEVAStart </th>
    
      <td mat-cell *matCellDef="let element"> {{element.KEVAStart | date: 'mediumDate'}} </td>
    </ng-container>
      <!-- KEVAEnd Column -->
  <ng-container matColumnDef="KEVAEnd">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> KEVAEnd </th>
    <td mat-cell *matCellDef="let element"> {{element.KEVAEnd | date: 'mediumDate'}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;">
  </tr>

  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row">
      <button mat-raised-button color="accent" (click)="showDetails(row)">details</button>
    </td>
  </ng-container>


</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>