.ngx-timepicker-control__arrow {
  font-size: 11px;
  color: rgba(0, 0, 0, .4);
  cursor: pointer;
  transition: color .2s;
  /* -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none; */
  user-select: none;

}

.timeBlock {
  display: grid;
}

.datePicker {
  font-size: 18px;
  align-items: center;
}
