  <div class="row justify-content-center
      align-items-center">
    <div class="col-xs-4 col-sm-4 col-md-6 col-lg-6 col-xl-6">
      <form class="example-form">
        <mat-form-field class="example-full-width" style="width: 95%">
          <input type="text" placeholder="{{ 'Search customer' | translate}}"  aria-label="Number" matInput
            [formControl]="searchControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option (keyup.enter)="pickCustomer(user.CustomerId)"  (click)="pickCustomer(user.CustomerId)"
              *ngFor="let user of filteredOptions | slice:0:50; let i = index" [value]="user.FileAs1">
              {{user.FileAs1}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-3 col-lg-2 col-xl-2">
      <button *ngIf="showButton" mat-raised-button color="primary" class="mb-2 mr-3 ml-3"
        style="background-color: rgb(38, 87, 122); color: white"
        (click)="newCustomerIsClicked()">{{'Create new' | translate}}</button>
    </div>
  </div>
