<div class="container">
<mat-expansion-panel *ngIf="step === 2" class="example-headers-align mb-1 row" [expanded]="step === 2"
  (opened)="receiptService.setStep(2)" hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h6>{{'Store' | translate}}</h6>
    </mat-panel-title>
    <mat-panel-description>
      {{'Store' | translate}} {{ProdCatId}}
      <mat-icon>map</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <form #myForm="ngForm" (ngSubmit)="addProdToList(myForm)" [style.fontSize]="'20px'">
    <mat-form-field class="col-12">
      <mat-select #ProdCatName="ngModel" name="prodCatName" placeholder="{{'Product category' | translate}}"
        [(ngModel)]="prodCatName" required>
        <mat-option *ngFor="let cat of productCategories" [value]="cat.ProdCatId">
          {{currentLang === 'he'? cat.CategoryName : cat.CategoryNameEng}}

        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-12">
      <mat-select #ProdName="ngModel" name="productName" placeholder="{{'Product name' | translate}}"
        [(ngModel)]="product.productName" required>
        <mat-option (click)="getSelectedProd(prod)" *ngFor="let prod of productsName | filterProductsByCat: prodCatName"
          [value]='prod.ProdName'>
          {{currentLang === 'he'? prod.ProdName : prod.ProdNameEng}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <p><strong>{{'Price' | translate}}: {{product.pricebyunit}}</strong> </p>
    <mat-form-field hidden class="col-12">
      <input #ProductPrice="ngModel" name="pricebyunit" type="number" matInput placeholder="{{'Price' | translate}}"
        [(ngModel)]="product.pricebyunit" />
    </mat-form-field>

    <mat-form-field class="col-12">
      <input #ProductAmount="ngModel" (keyup)="totalPriceForProd()" (change)="totalPriceForProd()" min="1" type="number"
        name="amount" matInput placeholder="{{'Quantity' | translate}}" [(ngModel)]="product.amount" required />
    </mat-form-field>
    <!-- <p>
      <strong>Amount:
        <mat-select  #ProductAmount="ngModel" name="prodAmount" [value]="product.prodAmount"
          [(ngModel)]="product.prodAmount" (selectionChange)="changeAmountInList(product, ProductAmount.value)">
          <mat-option [value]="i + 1" *ngFor="let number of arrayOfNumbers; let i = index">{{number + 1}}</mat-option>
        </mat-select>
      </strong>
    </p> -->

    <mat-form-field hidden class="col-12">
      <input #ProductId="ngModel" name="productid" type="number" matInput placeholder="Id"
        [(ngModel)]="product.productid" />
    </mat-form-field>
    <mat-form-field hidden class="col-12">
      <input #TotalPrice="ngModel" name="totalrow" type="number" matInput placeholder="totalPrice" value="500"
        [(ngModel)]="product.totalrow" />
    </mat-form-field>
    <button type="submit" [disabled]="myForm.invalid"
      [ngStyle]="{'background-color': myForm.invalid === false ? 'rgb(38, 87, 122)' : '' , 'color': myForm.invalid === false ? 'white' : ''}"
      mat-raised-button color="primary" class="mb-2">{{'Add to list' | translate}}</button>
  </form>
  <!--  -->

  <!--  -->
  <div class="table-responsive" *ngIf="receiptService.newReceipt.Receipt.products.length > 0">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th scope="col-2">{{'Product name' | translate}}</th>
          <th>{{'Quantity' | translate}}</th>
          <th>{{'Price' | translate}}</th>
          <th>{{'Total price' | translate}}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of receiptService.newReceipt.Receipt.products; let i = index">
          <td>
            {{i+1}}.
          </td>
          <th>
            {{product.productName}}
          </th>
          <td>
            <mat-select #Amount [value]="product.amount" (selectionChange)="changeAmountInList(product, Amount.value)">
              <mat-option [value]="i + 1" *ngFor="let number of arrayOfNumbers; let i = index">{{number + 1}}
              </mat-option>
            </mat-select>
          </td>
          <td>
            {{product.pricebyunit | currency : ' NIS ' : number : '1.2-2'}}
          </td>
          <td>
            {{product.totalrow | currency : ' NIS ' : number : '1.2-2'}}
          </td>
          <td>
            <button mat-button color="warn" (click)="deleteProduct(product.productid)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <h5>{{'Total price' | translate}}: {{totalPriceForOrder | currency : ' NIS ' : number : '1.2-2'}} </h5>
  </div>


  <!-- <div *ngIf="addedProdToOrder.length > 0"> 
    <div class="table-responsive mb-2" style="max-width: 100%; overflow: auto;">
      <table class="table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>{{'Product name' | translate}}</th>
            <th>{{'Amount' | translate}}</th>
            <th>{{'Price' | translate}}</th>
            <th>{{'Total price' | translate}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of addedProdToOrder; let i = index">
            <td>
              {{i+1}}.
            </td>
            <th>
              {{product.prodName}}
            </th>
            <td>
              <mat-select #Amount [value]="product.prodAmount"
                (selectionChange)="changeAmountInList(product, Amount.value)">
                <mat-option [value]="i + 1" *ngFor="let number of arrayOfNumbers; let i = index">{{number + 1}}
                </mat-option>
              </mat-select>
            </td>
            <td>
              {{product.prodPrice | currency : ' NIS ' : number : '1.2-2'}}
            </td>
            <td>
              {{product.totalPrice | currency : ' NIS ' : number : '1.2-2'}}
            </td>
            <td>
              <button mat-button color="warn" (click)="deleteProduct(product.prodId)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div> -->


  <!-- </div> -->
  <mat-action-row>
    <button mat-raised-button [ngStyle]="{'background-color': 'rgb(250, 174, 33)'}" (click)="prevStep()" class="mr-1 ml-1">
      {{'Previous' | translate}}
    </button>
    <button mat-raised-button [ngStyle]="{'background-color': 'rgb(38, 87, 122)', 'color': 'white' }" (click)="nextStep() ">
      {{'Next' | translate}}
    </button>
  </mat-action-row>
</mat-expansion-panel>
</div>
