input.mat-input-element {
  color: black
}

::ng-deep .mat-select-disabled .mat-select-value {
  color: black
}

.emailInputWidth {
  width: 290px;
}

.emailTypeWidth {
  width: fit-content;
}

.direction {
  direction: ltr;
}

mat-radio-group {
  display: flex;
  flex-direction: column;
}

.options {
  width: 100px;
  text-align: justify;
}

.emailInput {
  direction: initial;
}

.email {
  text-align: justify;
  display: flex;
}
