input.mat-input-element {
      color: black
    }
    
    ::ng-deep .mat-select-disabled .mat-select-value {
      color: black
    }
    
    .phoneTypeWidth {
      width: 120px
    }
    
    .mobileWidth {
      width: 290px
    }
    .inputMobileWidth {
      width: 200px
    }
    .contryCodeWidth{
      width: 120px
    }
    .phonetypeInputWidth {
      width: fit-content; 

    }
    .phone {
      text-align: justify;
      display: flex;
    }