<div class="container mt-5">
  <mat-card>
    <h2 class="text-center">{{title | translate}}</h2>
    <app-search [hidden]="kevaMode === 'duplicate'" [filteredOptions]="filteredOptions$ | async" [searchControl]="searchControl"
      (pickedCustomer)="getCustomerInfoById($event)" (newCustomer)="newCustomerIsClicked();"></app-search>
  </mat-card>
</div>
<app-customer-info (toNewPayment)="goToCreateNewPayment()" ></app-customer-info>

<!-- [cities]="cities" [customerInfo]="customerInfo" [customerTitle]="customerTitle" [customerTypes]="customerTypes" -->