<form [formGroup]="filterForm" (ngSubmit)="showFilteredPayments()">
  <div class="container">
    <div class="row justify-content-center align-items-baseline">
      <div class="col-2">
        <mat-form-field>
          <mat-label>Clearing firm</mat-label>
          <mat-select formControlName="instituteid">
            <mat-option *ngFor="let group of globalData?.institutes" [value]="group.instituteId">{{group.Mosad}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field>
          <mat-label>Standing bank</mat-label>
          <mat-select formControlName="kevaTypeid">
            <mat-option value="1"> מס"ב - חיוב לקוח</mat-option>
            <mat-option value="2"> מס"ב - זיכוי לקוח </mat-option>
            <mat-option value="3"> כ.אשראי - חיוב לקוח</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field>
          <mat-label>Activity Status</mat-label>
          <mat-select formControlName="KevaStatusid">
            <mat-option *ngFor="let group of globalData?.KevaStatus" [value]="group.KevaStatusId">
              {{group.KevaStatusIdname}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field>
          <mat-label>Group</mat-label>
          <mat-select formControlName="KevaGroupid">
            <mat-option value="9999">All groups</mat-option>
            <mat-option *ngFor="let group of globalData?.KevaGroups" [value]="group.GroupId">{{group.GroupName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-2">
        <button type="submit" mat-raised-button
          style="background-color:#34DDD8; color: white; width: 100%">Show</button>
      </div>
    </div>
  </div>
</form>

<hr>
<div class="row" style="align-items: baseline; width: 100%">
  <div class="col-1">
    <button type="button" [routerLink]="[ '/payments-grid/customer-search']" mat-raised-button
      style="background-color: rgb(38, 87, 122); color: white" (click)="setPaymentType('1')"> מס"ב -
      חיוב לקוח</button>
  </div>
  <div class="col-1">
    <button type="button" [routerLink]="[ '/payments-grid/customer-search']" mat-raised-button
      style="background-color: rgb(38, 87, 122); color: white" (click)="setPaymentType('2')">מס"ב -
      זיכוי לקוח</button>
  </div>
  <div class="col-1 mb-3">
    <button type="button" [routerLink]="[ '/payments-grid/customer-search']" mat-raised-button
      style="background-color: rgb(38, 87, 122); color: white" (click)="setPaymentType('3')">כ.אשראי -
      חיוב לקוח</button>
  </div>
  <div class="col-11 text-right mr-3">
    <mat-form-field style="width: 300px">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>
  </div>
</div>

<hr>