<div>
  <h4>{{'Send by email' | translate}}</h4>
  <hr>
  <ng-container *ngIf="emailsList.length > 0">
    <div class="row mb-4 mt-1 mailsBlock justify-content-center">
      <mat-icon class="arrowSize" (click)="minusCount()" mat-icon>arrow_back_ios</mat-icon>
      <div style="width:200px">
        <h5 class="labels">{{emailsList[counter]?.EmailName}}</h5>
        <h5 class="labels">{{emailsList[counter]?.Email}}</h5>
      </div>
      <mat-icon class="arrowSize" (click)="plusCount()" mat-icon>arrow_forward_ios</mat-icon>
    </div>
    <div class="row justify-content-center">
      <button class="col-5 submit-button " mat-raised-button  (click)="onConfirm()">{{'Submit' | translate}}</button>
      <button class="col-5 cancel-button ml-1" mat-raised-button  (click)="onDismiss()">{{'Cancel' | translate}}</button>
    </div>
  </ng-container>

  <span class="mt-5" *ngIf="emailsList.length === 0">
    <h5 class="labels">{{'No one emails' | translate}}</h5>
  </span>
</div>