<div class="container mt-5">

  <!-- <mat-card *ngIf="step !== 6 " class="mb-5"> -->
  <!-- <div class="row justify-content-center">
      <div class="col-12">
        <h2 class="text-center" translate>Create a new Receipt</h2>
      </div>
    </div> -->
  <!-- <div *ngIf="step === 1 || step === 0 " class="row justify-content-center
      align-items-center"> -->

  <mat-card *ngIf="step !== 6">
    <h2 class="text-center" translate>Create a new Receipt</h2>
    <app-search *ngIf="step === 1 || step === 0 " [searchControl]="searchControl"
      [filteredOptions]="filteredOptions | async" (pickedCustomer)="getCustomerInfoById($event)"
      (newCustomer)="createNew($event)">
    </app-search>
  </mat-card>


</div>

<!-- </mat-card> -->
<!-- <mat-card-content> -->
<mat-accordion class="example-headers-align" style="margin-bottom: 300px">
  <!--CUSTOMER INFO-->
  <app-customer-info class="mb-2" *ngIf="step === 1 || step === 0">
  </app-customer-info>
  <app-payments-list style="margin-bottom: 100px" *ngIf="step === 1 || step === 0" [customerInfo]="customerInfo"></app-payments-list>
  <!-- CREDIT CARD -->
  <!-- <app-credit-card></app-credit-card>  POP UP MODAL-->

  <!--STORE-->
  <app-store style="margin-bottom: 100px"></app-store>

  <!--RECEIPT TYPE-->
  <app-receipt-type style="margin-bottom: 100px"></app-receipt-type>

  <!-- PAYMENT -->
  <app-payment style="margin-bottom: 100px"></app-payment>


  <!-- PROCCESS RECEIPT -->
  <app-proccess-reciept style="margin-bottom: 100px" [nameFilter]="nameFilter" [customerInfo]="customerInfo">
  </app-proccess-reciept>

</mat-accordion>
<!-- </mat-card-content>
        <span [style.fontSize]="'16px'" class="ml-3"> -->
<!-- </span> -->
<!-- </mat-card> -->
<!-- </div> -->