<div class="container">
      <mat-card>
            <mat-card>
                  <h3>{{'Send message' | translate}}</h3>
                  <hr>
                  <form [formGroup]="messageForm" (ngSubmit)="submitForm(messageForm)">

                        <div class="row" style="direction: initial">
                              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 search-results">

                                    <app-tree-of-groups></app-tree-of-groups>
                              </div>
                              <div class="col-1">

                              </div>
                              <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 example-container mb-3"
                                    [style.fontSize]="'17px'" [ngClass]="{'order-first': orderFirst}">


                                    <mat-form-field>
                                          <input formControlName="CellFrom" matInput
                                                placeholder="{{'From number / Company name(English)' | translate}}">
                                    </mat-form-field>

                                    <mat-form-field class="mb-3">
                                          <textarea #message formControlName="Msg" style="height: 100px" matInput
                                                placeholder="{{'Message' | translate}}"></textarea>
                                          <mat-hint [style.fontSize]="'16px'" align="end">{{message.value?.length || 0}}</mat-hint>
                                    </mat-form-field>
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                                          <button type="submit" style="width: 100%" mat-raised-button
                                                [disabled]="messageForm.invalid"
                                                [ngStyle]="{'background-color': messageForm.invalid === false ? 'rgb(38, 87, 122)' : '' , 'color': messageForm.invalid === false ? 'white' : ''}">Send
                                          </button>
                                    </div>


                              </div>

                        </div>
                  </form>
            </mat-card>
      </mat-card>
</div>