<div class="row mb-5 fontSize" [formGroup]="firstStep">
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
    <mat-form-field class="example-full-width">
      <mat-label>{{'Type'| translate}}</mat-label>
      <mat-select inputError [input]="firstStep.controls.type" [isSubmit]="isSubmit"  formControlName="type">
        <mat-option value="1"> מס"ב - חיוב לקוח</mat-option>
        <mat-option value="2"> מס"ב - זיכוי לקוח </mat-option>
        <mat-option value="3"> כ.אשראי - חיוב לקוח</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
    <mat-form-field class="example-full-width">
      <mat-label>{{'Status'| translate}}</mat-label>
      <mat-select inputError [input]="firstStep.controls.status" [isSubmit]="isSubmit"  formControlName="status">
        <mat-option *ngFor="let group of (globalData$| async)?.KevaStatus " [value]="group.KevaStatusId">
          {{group.KevaStatusIdname}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
    <mat-form-field class="example-full-width">
      <mat-label>{{'Groups'| translate}}</mat-label>
      <mat-select inputError [input]="firstStep.controls.groups" [isSubmit]="isSubmit"  formControlName="groups">
        <mat-option *ngFor="let group of (globalData$ | async)?.KevaGroups" [value]="group.GroupId">{{group.GroupName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>