<div class="row mb-5" [formGroup]="firstStep">
  <div class="col-4">
    <mat-form-field class="example-full-width">
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        <mat-option value="1"> מס"ב - חיוב לקוח</mat-option>
        <mat-option value="2"> מס"ב - זיכוי לקוח </mat-option>
        <mat-option value="3"> כ.אשראי - חיוב לקוח</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-4">
    <mat-form-field class="example-full-width">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let group of globalData?.KevaStatus" [value]="group.KevaStatusId">
          {{group.KevaStatusIdname}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-4">
    <mat-form-field class="example-full-width">
      <mat-label>Groups</mat-label>
      <mat-select formControlName="groups">
        <mat-option *ngFor="let group of globalData?.KevaGroups" [value]="group.GroupId">{{group.GroupName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>