#externalSystemContainer {
  /* background-color: gainsboro; */

  padding: 5px 0 5px 20px;
  /* color: white;  */
}

#undoButton,
#redoButton {
  display: none;
}

#stripoSettingsContainer {
  width: 400px;
  float: left;
}

#stripoPreviewContainer {
  width: calc(100% - 400px);
  float: left;
}

.notification-zone {
  position: fixed;
  width: 400px;
  z-index: 99999;
  right: 20px;
  bottom: 80px;
}

.control-button {
  border-radius: 17px;
  padding: 5px 10px;
  border-color: grey;
}

#changeHistoryLink {
  cursor: pointer;
}

.title {
  /* background-color: white;
  text-align: center; */
  text-align: center;
  margin-top: 10px;
}

#stripoSettingsContainer {
  direction: initial;

}

::ng-deep a.sripo-watermark {
  display: none !important;
}

::ng-deep .esdev-settings-tabs {
  direction: ltr;
}

::ng-deep .nav-justified li {
  width: 50% !important;
}

.cancel-button {
  width: 135px;
  background-color: rgb(250, 174, 33);
  color: black;


}

.submit-button {
  width: 135px;
  background-color: rgb(38, 87, 122);
  color: white;
}

.content {
  direction: ltr;

  float: left;
}



.builder {

  /* height: 600px; */
  /* overflow: scroll; */

}

.flexEnd {
  display: flex;
}

.sendButtons {
  display: flex;
  width: 400px;

}

.mainContent {
  display: flex;
}

.template {
  display: flex;
  justify-content: center;
  padding: 5px;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  min-height: 500px;

}

.sideBarBuilder {
  border: gainsboro 2px solid;
  padding: 5px;
  border-radius: 10px;
  display: table;
}

.expPanel {
  display: flex;
  justify-content: space-around;
  width: 100%;
  direction: rtl;
}

.sendTo {
  font-size: 18px;
}

.sideBtn {
  height: 36px;
  margin-bottom: 5px;
}

.sideBtnBox {
  display: grid;

}

.mainContent {
  margin: auto;
}
