<mat-card class="mt-3">
  <h3 class="mb-2">{{'Newsletter' | translate}}</h3>

  <button *ngIf="templateId" class=" btn-color ml-1" mat-raised-button
    (click)="dispatchAction('SEND NEWSLETTER')">{{showGroups? 'Create newsletter': 'Send newsletter'}}</button>

    <button  class=" btn-color ml-1" mat-raised-button
    (click)="dispatchAction('SHOW FILES')">{{'Show files' | translate}}</button>

  <button class=" btn-color ml-1" mat-raised-button (click)="dispatchAction('SHOW TEMPLATES')">Show templates</button>

</mat-card>