.sendTo {
  direction: rtl;
}

.senderForm {
  font-size: 18px;
  min-height: 670px;
  align-content: start;
}

.subject {
  height: 100px;
}

.submit {
  width: 250px;
  background-color: rgb(109, 179, 53)
}
