<div class="row mb-5" [formGroup]="bank">
  <div class="col-12 text-right">
    <h5>title</h5>
  </div>
  <div class="col-3">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="code bank" formControlName="codeBank">
    </mat-form-field>
  </div>
  <div class="col-3">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Snif" formControlName="snif">
    </mat-form-field>
  </div>
  <div class="col-3">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Acc number" formControlName="accNumber">
    </mat-form-field>
  </div>
</div>