<mat-sidenav-container class="example-container" [hasBackdrop]="765 > displayWidth? true: false"
      (backdropClick)="sidenav.close()">
      <mat-sidenav class="sidenav" #sidenav mode="side" opened>
            <app-side-menu (selectedRoute)="navigation($event)" [customerDetailsById]="customerDetailsById$ | async"
                  class="sideMenu"></app-side-menu>
      </mat-sidenav>
      <mat-sidenav-content class="matSidenavContent">
            <button style="background-color: whitesmoke" *ngIf="765 > displayWidth" class="sidenavToggle" (click)="sidenav.open()" mat-button>menu</button>
            <div class="row mb-5 searchContent">
                  <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 col-xl-9">
                        <mat-card style="height: 100px;margin-top: 10px">
                              SEARCH
                              <button type="button" mat-button (click)="test()">text</button>
                        </mat-card>
                  </div>
            </div>

            <div class="row mainContent">
                  <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 col-xl-9">

                        <router-outlet></router-outlet>

                  </div>

            </div>
      </mat-sidenav-content>
</mat-sidenav-container>